.applications {
  display: grid;
  justify-items: start;
  justify-content: start;
  align-items: start;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
.colorChange {
  background-color: rgba(4, 110, 248, 0.24);
}
