@import "index.scss";
.background {
  height: calc(100vh - $mobile-state-bar-height);
}
.applications {
  // display: grid;
  // justify-items: start;
  // justify-content: start;
  // align-items: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - $mobile-state-bar-height);
  overflow-y: hidden;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      padding: 5px;
    }
  }
  .icon-hover {
    &:hover {
      background-color: $sub-color;
    }
  }
}
.settings-grid {
  grid-template-columns: repeat(auto-fill, minmax(15%, auto));
}
.colorChange {
  background-color: rgba(4, 110, 248, 0.24);
}
@include tablet {
  .background,
  .applications {
    height: 100vh;
  }
}
@include mobile {
  .background,
  .applications {
    height: calc(100vh - $mobile-state-bar-height - $mobile-top-bar-height);
  }
}
