@import "index.scss";
.applications {
  display: grid;
  justify-items: start;
  justify-content: start;
  align-items: start;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .icon-hover {
    &:hover {
      background-color: $sub-color;
    }
  }
}
.settings-grid {
  grid-template-columns: repeat(auto-fill, minmax(15%, auto));
}
.colorChange {
  background-color: rgba(4, 110, 248, 0.24);
}
