@import "node_modules/bootstrap-icons/font/bootstrap-icons";
$b-width: 15px;
$s-width: 10px;
.task-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 5px $b-width;
  .weather {
    font-size: 14px;
  }
  .window-button {
    display: flex;
    justify-content: center;
    img {
      width: 30px;
      height: auto;
      cursor: pointer;
    }
    button {
      background: none;
      border: none;
      outline: none;
      margin-right: $s-width;
    }
    .find-app {
      position: relative;
      width: 220px;
      height: 30px;
      .reading-glasses {
        width: 1px;
        position: absolute;
        top: 5px;
        right: 10px;
        left: 10px;
        color: black;
      }
      input {
        border: 1px solid #f1f1f1;
        border-radius: 50px;
        outline: none;
        width: 160px;
        height: 100%;
        padding: 0px 30px;
      }
    }
    .shortcuts {
      a {
        padding-left: $b-width;
      }
    }
  }
  .state-bar {
    display: flex;
    align-items: center;
    .computer-state {
      font-size: 18px;
      i {
        padding-right: $s-width;
      }
    }
    .time {
      font-size: 14px;
      text-align: end;
    }
  }
}
