.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("https://source.unsplash.com/random/?cat");
  background-size: cover;
}
