@import "index.scss";
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  h1,
  h2 {
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 5px rgb(87, 86, 86);
  }
  img {
    width: 50px;
    height: 50px;
  }
  .loading {
    animation: loading 1.5s ease infinite;
  }
  form {
    width: 100%;
    text-align: center;
    input {
      width: 30%;
      height: 40px;
    }
  }
}
.fadeout {
  animation: fadeOut 2s forwards;
}
.disappearWelcome {
  display: none;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
$settings-layout-padding: 20px;
.settings {
  position: absolute;
  bottom: 60px;
  text-align: center;
  left: calc(50% - 300px);
  background-color: $main-color;
  display: inline-block;
  width: 500px;
  min-height: 40vh;
  max-height: 80vh;
  border-radius: 15px 15px 0 0;
  box-shadow: $modal-shadow;
  header {
    padding: $settings-layout-padding;
    color: white;
    h2 {
      font-weight: 300;
    }
  }
  article {
    padding: $settings-layout-padding;
  }
  main {
    color: white;
    position: absolute;
    bottom: 0px;
    width: calc(100% - $settings-layout-padding);

    padding: $settings-layout-padding/2;
    background-color: $sub-color;
    & > div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      & > div {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-evenly;
      }
      .theme-color {
        input[type="color"] {
          border-radius: 50px;
          height: 50px;
          width: 50px;
          &:hover {
            cursor: pointer;
          }
          &::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
            padding: 0;
          }
        }
      }
      .nickname {
        input[type="text"] {
          width: 150px;
          height: 30px;
          border-radius: 30px;
          outline: none;
          border: none;
          padding: 5px 16px;
        }
        button {
          background: none;
          border-radius: 5px;
          i {
            color: white;
            font-size: 30px;
          }
        }
      }
    }
  }
}
@include tablet {
  .settings {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    main {
      border-radius: 0 0 15px 15px;
    }
  }
}

@include mobile {
  .welcome {
    height: 100vh;
    position: absolute;
    top: 0;
    form input {
      width: 50%;
    }
  }
  .settings {
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 85%;
    main {
      border-radius: 0 0 15px 15px;
      .theme-color,
      .nickname {
        width: 45%;
      }
    }
  }
  .task-bar {
    bottom: 0;
    position: absolute;
    width: 100vw;
  }
  .top-bar {
    height: $mobile-top-bar-height;
    position: absolute;
    width: 100vw;
    top: 0;
  }
}
